{{ $ := .root }}
{{ $page := .page }}

{{ $author := "" }}
{{ if .author }}
  {{ $author = .author }}
{{ else }}
  {{ $author = $page.Params.author }}
{{end}}

{{ $person_page_path := (printf "/authors/%s" (urlize $author)) }}
{{ $person_page := site.GetPage $person_page_path }}
{{ $person := $person_page.Params }}
{{ $avatar := ($person_page.Resources.ByType "image").GetMatch "*avatar*" }}

<!-- About widget -->
<div class="row justify-content-center" >
  <div class="col-12 col-lg-3">
    <div id="profile">

      {{ if site.Params.gravatar }}
      <img class="portrait" src="https://s.gravatar.com/avatar/{{ md5 $person.email }}?s=200')" alt="Avatar">
      {{ else if $avatar }}
      {{ $avatar_image := $avatar.Fill "250x250 Center" }}
      <img class="portrait" src="{{ $avatar_image.RelPermalink }}" alt="Avatar">
      {{ end }}

      <div class="portrait-title">
        <h2>{{ $person.name }}</h2>
        <h4>{{ $person.namecn }}</h4>
        {{ with $person.role }}<h3>{{ . | markdownify | emojify }}</h3>{{ end }}

        {{ range $org := $person.organizations }}
        <h3>
          {{ with $org.url }}<a href="{{ . }}" target="_blank" rel="noopener">{{ end }}
          {{ with $org.logo }}<img src="{{ printf "/img/logo/%s" . | relURL }}" alt="{{ $org.name }} logo" style="display: inline-block; height: 1em; width: auto; vertical-align: -0.1em; margin-right: 0.35rem;">{{ end }}
          <span>{{ $org.name }}</span>
          {{ if $org.url }}</a>{{ end }}
        </h3>
        {{ end }}
        
        {{ if $person.address.street | or $person.address.city | or $person.address.region | or $person.address.postcode | or $person.address.country }}
          {{ $addr := slice }}
          {{with $person.address.street}}{{$addr = $addr | append .}}{{end}}
          {{with $person.address.city}}{{$addr = $addr | append .}}{{end}}
          {{with $person.address.region}}{{$addr = $addr | append .}}{{end}}
          {{with $person.address.postcode}}{{$addr = $addr | append .}}{{end}}
          {{with $person.address.country}}{{$addr = $addr | append .}}{{end}}
          {{ $addr_formatted := delimit $addr (site.Params.list_delimiter | default ", ") }}
          <h3 class="profile-location" style="font-size: 0.9rem;">
            <i class="fas fa-map-marker-alt" style="margin-right: 0.3rem;"></i>{{ $addr_formatted }}
          </h3>
        {{ end }}
      </div>

      <ul class="network-icon" aria-hidden="true">
        {{ range $person.social }}
        {{ $pack := or .icon_pack "fas" }}
        {{ $pack_prefix := $pack }}
        {{ if in (slice "fab" "fas" "far" "fal") $pack }}
          {{ $pack_prefix = "fa" }}
        {{ end }}
        {{ $link := .link }}
        {{ $scheme := (urls.Parse $link).Scheme }}
        {{ $target := "" }}
        {{ if not $scheme }}
          {{ $link = .link | relLangURL }}
        {{ else if in (slice "http" "https") $scheme }}
          {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
        {{ end }}
        <li>
          <a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }}>
            {{ if eq $pack "img" }}
              {{/* Use `.icon` as the logo filename under static/img/logo (including extension). */}}
              <img src="{{ printf "/img/logo/%s" .icon }}" alt="{{ .icon }}" style="height:1.7em; width:1.7em; object-fit:contain; vertical-align:middle;">
            {{ else }}
              <i class="{{ $pack }} {{ $pack_prefix }}-{{ .icon }} big-icon"></i>
            {{ end }}
          </a>
        </li>
        {{ end }}
      </ul>

    </div>
  </div>
  <div class="col-12 col-lg-6" style="text-align: justify">

    {{/* Only display widget title in explicit instances of about widget, not in author pages. */}}
    {{ if and $page.Params.widget $page.Title }}<h1>{{ $page.Title | markdownify | emojify }}</h1>{{ end }}

    <!-- {{ $person_page.Content}} -->
    <p>
      Gordon Guocheng Qian is a Staff Researcher at ByteDance, where he works on post-training of Seedance video generation models. Previously, he was a Senior Research Scientist at Snap Inc., where he worked on video generation pretraining and post-training and served as tech lead for personalized generation, filing six patents and shipping three research innovations to Snapchat products (Dreams, EasyLens, and AI Lens), impacting 900M+ monthly active users. He earned his Ph.D. in Computer Science from KAUST, advised by Prof. Bernard Ghanem.
      He has authored 20+ top-tier publications with 4,000+ citations.
      His representative works include <a target="_blank" href="https://arxiv.org/abs/2206.04670">PointNeXt</a> (NeurIPS, 1.2K+ citations, 1K+ GitHub stars), <a target="_blank" href="https://guochengqian.github.io/project/magic123/">Magic123</a> (ICLR, 450+ citations, 1.6K+ GitHub stars), and <a target="_blank" href="https://snap-research.github.io/Omni-ID/">Omni-ID</a> (CVPR, product integrated, patent filed). His research interests include streamable and unified multimodal understanding and generation. He serves as an Area Chair for ICLR and NeurIPS.
      <br>
      If you are interested in working on image and video generative models with me, please reach out at gordonqian2017 [at] gmail.com 
    </p>


    <div class="row">
      {{ with $person.education }}
      <div class="col-md-5">
        <h3>{{ i18n "education" | markdownify }}</h3>
        <ul class="ul-edu fa-ul">
          {{ range .courses }}
          <li>
              <a href="{{ .link }}" target="_blank">
                <i><img src="img/logo/{{ .logo }}" alt="{{ .institution }} logo" style="position: absolute;left: -2.5rem;width: 2rem;top: 0.14285714em;text-align: center;"></i>
              </a>
              <div class="description">
                <p class="course">{{ .course }}</p>
                <a href="{{ .link }}" target="_blank"><p class="institution">{{ .institution }}, {{.year}}</p></a>
              </div>
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
      
      {{ with $person.interests }}
      <div class="col-md-7">
        <h3>{{ i18n "interests" | markdownify }}</h3>
        <ul class="ul-interests"> 
          {{ range . }}
          <div class="description">
            <li class="course">{{ .item }}</li>
            <div>{{ .works | markdownify | emojify }}</div>
          </div>
          {{ end }}
        </ul>
      </div>
      {{ end }}


    </div>
  </div>
</div>
